.DS_Store
.ant-targets-build.xml
.classpath
.project
bubing-*
build/
dist/
docs/
jars/
outcomes/
reports/
src/it/unimi/di/law/warc/filters/parser/FilterParser.java
src/it/unimi/di/law/warc/filters/parser/FilterParserConstants.java
src/it/unimi/di/law/warc/filters/parser/FilterParserTokenManager.java
src/it/unimi/di/law/warc/filters/parser/ParseException.java
src/it/unimi/di/law/warc/filters/parser/SimpleCharStream.java
src/it/unimi/di/law/warc/filters/parser/Token.java
src/it/unimi/di/law/warc/filters/parser/TokenMgrError.java
.settings/
priv/
bin/
